.box1 {
    border-radius: 1rem;
    margin: 0.7rem 1rem 0.7rem 1rem;
    position: relative;
    background-color: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}