.box1 {
    border-radius: 1rem;
    margin: 0.7rem 1rem 0.7rem 1rem;
    position: relative;
    background-color: white;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.2);

}

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&family=Shrikhand&display=swap");

body {
    font-family: "Roboto", sans-serif;
}

.section .loading-two {
    border-radius: 50px;
    border: 6px solid rgba(255, 255, 255, 0.4);
}

/* font-family: "Shrikhand",
cursive; */